.vscode/
venv/
.venv/
env/

api/venv/
api/.venv/
api/env/

__pycache__/
*.py[cod]
*$py.class

database/
*.db
*.sqlite
*.sqlite3
data_storage/
api/database/db.sqlite3

*.log
log/
npm-debug.log*

models/temp/
*.joblib
.vscode/
.idea/
.DS_Store
.env